* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-white: #ffffff;
  --color-black: #333;
  --color-primary: #3b81d5;
  --color-secondary: #e8c102;
  --color-tertiary: #fb6f41;
  --color-primary: #fcb830;
  --color-secondary: #53b485;
  --color-tertiary: #d85c53;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color-scheme: dark light;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-black);
  background-color: #eee;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.5rem;
}
@media (max-width: 640px) {
  .logo {
    display: none;
  }
}

.icon {
  height: 2.8rem;
}
.icon--smaller {
  height: 1.8rem;
}
.icon--small {
  height: 1.4rem;
}
.icon--smallest {
  height: 1.2rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid var(--color-white);
  transition: all 0.3s;
  background-color: var(--color-white);
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::-moz-placeholder {
  color: #ccc;
}

.login__input::placeholder {
  color: #ccc;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 3rem auto;
  opacity: 0;
  transition: all 1s;
  padding: 0 1rem;
}

.account-info {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  overflow-y: scroll;
}
@media (max-width: 867px) {
  .account-info {
    grid-template-columns: 1fr;
  }
}

.account-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.balance {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: clamp(2rem, 3vw, 4.5rem);
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  background-color: var(--color-white);
  border-radius: 1rem;
  overflow: scroll;
  max-height: 500px;
}

.movements__row {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}
@media (max-width: 640px) {
  .movements__row {
    padding: 2rem 1.6rem;
  }
}

.movements__type {
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-color: var(--color-secondary);
}

.movements__type--withdrawal {
  background-color: var(--color-tertiary);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 0.3rem;
}

.summary__group {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
}

.summary__value--in,
.summary__value--interest {
  color: var(--color-secondary);
}

.summary__value--out {
  color: var(--color-tertiary);
}

.btn--sort {
  color: var(--color-black);
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operations {
  display: grid;
  gap: 2rem;
}
@media (max-width: 867px) {
  .operations {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .operations {
    grid-template-columns: 1fr;
  }
}

.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: var(--color-black);
}
@media (max-width: 640px) {
  .operation {
    padding: 2rem 1.6rem;
  }
}

.operation--transfer {
  background-color: var(--color-primary);
}

.operation--loan {
  background-color: var(--color-secondary);
}

.operation--close {
  background-color: var(--color-tertiary);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-black);
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
  grid-row: 2;
}

/* End exceptions */
.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-black);
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  min-width: 5rem;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  text-align: right;
  font-size: 1.25rem;
  margin-left: auto;
}

.timer {
  font-weight: 600;
}/*# sourceMappingURL=streamline.css.map */